# Игнорировать собранные файлы и временные директории
build/
release/
*.exe
*.o
*.obj
*.pro.user

# Игнорировать промежуточные файлы Qt
moc_*.cpp
ui_*.h
qrc_*.cpp

# Игнорировать файлы сборки и логов
*.log
*.bak
!vcpkg_install.log